*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow: hidden;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 22px;
    margin-top: 14px;
}

nav a{
    margin: 0 7.5px;
    color: rgb(0,0,0, 0.87);
    font-size: 15px;
}

nav a:hover{
    opacity: .8;
    text-decoration: underline;
}

.google-apps{
    width:24px;
}

.google-apps:hover{
    opacity: .8;
}

nav button{
    background-color: #1a73e8;
    border: 1px solid #1a73e8;
    padding: 7px 12px;
    color: #fff;
    border-radius: 7px;
    margin-left: 7px;
    cursor: pointer;
}

nav button:hover{
    opacity: .8;
}

section{
    transform: translateY(107px);
    flex: 1;
}

.logo-class{
    display: flex;
    justify-content: center;
}

.s-box{
    margin: 0 auto;
    width: 580px;
    position: relative;
    padding: 25px 0 25px 0;
}

.search-icon{
    width: 20px;
    position: absolute;
    top: 37px;
    left: 15px;
}

.s-box .s-input{
    width: 100%;
    padding: 13px 0 13px 45px;
    border-radius:25px;
    border: 1px solid #ddd;
    outline: none;
}

.s-input:hover{
    box-shadow: 0px 1px 3px rgb(192, 185, 185);
}

.vs-icon{
    height: 20px;
    position: absolute;
    top: 37px;
    right: 15px;
    opacity: .9;
}

.button-class{
    display: flex;
    justify-content: center;
    border-radius: 7px;
    padding-top: 18px;
}

.s-btn{
    padding: 9px 15px;
    font-size: 14px;
    margin-right: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.s-btn:hover{
    opacity: .9;
    cursor: pointer;
}

.lang{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 15px;
    color: #111;
}

.lang a{
    margin-left: 5px;
    color: #1a0dab;
}

.lang a:hover{
    text-decoration: underline;
}

footer{
    display: flex;
    flex-direction: column;
}

footer p{
    padding: 17px 0px 17px 30px;
    color: #5f6368;
    background: #f2f2f2;
}

.links{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #f2f2f2;
}

.link-1{
    display: flex;
    transform:translateX(20px);
    justify-content: space-between;
}

.link-1 a{
    margin: 0 7.5px;
    color: #5f6368;
}

.link-2{
    display: flex;
    transform:translateX(-20px);
}

.link-2 a{
    margin: 0 7.5px;
    color: #5f6368;
}

footer a:hover{
    text-decoration: underline;
}

@media (max-width: 375px)
{

.logo-class{
    height: 65px;
}

.links{
    display: flex;
    flex-direction: column;
}

.link-1{
    justify-content: center;
}

.link-2{
    justify-content: center;
}

}